@keyframes jump { 0% { top: 0; } 50% { top: 5px; } 100% { top: 0; } }

*:focus {
    outline: 0 !important;
}

ul {
    margin-top: 0;
}
.story-title {
    text-decoration: none;
    font-size: 18px;
    color: #FF6600;
}

.story-title:visited {
    color: rgb(61, 61, 61);
}

.story-title:hover {
    color: #b34700;
}

.list {
    margin: 0 10% 0 0;
}
.comment-button {
    background: none;
    color: inherit;
    border: none; 
    padding: 0;
    font: inherit;
    cursor: pointer;
    padding-left: 5px;
    border-left: 2px solid grey;
}

.comment-title {
    color: grey;
    font-style: italic;    
}

.story-info {
    margin: 0 0 10px 0;
    font-weight: 100;
    font-size: 16px;
    color: grey;
}
i {
    border: solid grey;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 3px;
    z-index: 1;
}
.up {
    margin-bottom: -3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    margin-bottom: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.load-more-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.load-more-button {
    background-color: #FF6600;
    color: white;
    border: none; 
    font: inherit;
    cursor: pointer;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
.back-top-button {
    background-color: #FF6600;
    color: white;
    border: none; 
    font: inherit;
    cursor: pointer;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    display: none;
}
.arrow-down-icon {
    margin: auto;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}
.arrow-up-icon {
    margin: auto;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
.button-arrow {
    position: relative;
    margin: 0 auto;
    text-align: center;
    animation: jump 1s infinite;
}

@media (max-width: 800px) {
    .back-top-button {
        display: block;
    }
    .list {
        margin-right: 5%;
        border-bottom: 1px solid #ccc;
        margin-left: 5%;
        padding-left: 0;
        margin-bottom: 15px;
    }
    .story-info {
        margin-top: 10px;
        font-style: italic;
        font-weight: 14px;
    }
    .comment-button {
        padding: 10px 0 10px 0;
        border: none;
        display: block;
        color: black;
        font-weight: 100;
        font-size: 16px;
        font-style: initial;
    }
    i {
        border-color: black;
    }
}