<div class="main-story-container" *ngIf="topStories">
  <ul class="list" *ngFor="let story of topStories; let i = index">
    <li *ngIf="!story?.deleted" class="list-item">
      <a target="_blank" class="story-title" href="{{story?.url}}">{{ story?.title }}</a>
      <br>
      <p class="story-info">
        {{ story?.score }} points by 
        "{{ story?.by }}" 
        <span *ngIf="story?.time">{{ story?.time * 1000 | amTimeAgo}}</span>
        <button [disabled]="!story?.kids" class="comment-button" href="#" (click)="getStoryComments(story);">
          <span *ngIf="!story?.kids">No comments yet</span>
          <span *ngIf="!story?.commentsLoaded && story?.kids">
            Expand {{ story?.commentLength }} comments
            <i class="arrow down"></i> 
          </span>
          <span *ngIf="story?.commentsLoaded">
            Collapse {{ story?.commentLength }} comments  
            <i class="arrow up"></i>
          </span>
        </button>
      </p>
      <app-comments [hidden]="!story?.commentsLoaded" [comment]="story"></app-comments>
    </li>
  </ul>
  <div class="load-more-container">
      <button class="back-top-button" (click)="backToTop()">
          Back to top
        <div class="button-arrow">
            <div class="arrow-up-icon"></div>
        </div>
      </button>
      <button class="load-more-button" (click)="loadMoreStories()">
          Load more
        <div class="button-arrow">
            <div class="arrow-down-icon"></div>
        </div>
      </button>
  </div>
</div>
