<div class="comment-list" *ngIf="comment?.comments">
  <ul class="comment-list-wrapper" *ngFor="let subComment of comment?.comments">
    <li class="comment-wrapper" *ngIf="!subComment?.deleted">
      <span class="comment-title">
        By <i>{{ subComment?.by }}</i> 
        {{ subComment?.time * 1000 | amTimeAgo }}
      </span>
      <br>
      <div class="comment-text" [innerHTML]="subComment?.text" [attr.target]="target"></div>
      <br>
        <app-comments *ngIf="subComment?.comments" [comment]="subComment"></app-comments>
    </li>
  </ul>
</div>