.comment-wrapper {
    border-left: 1px solid #ccc;
    padding-left: 10px;
    text-align: justify;
}

.comment-text {
    font-size: 14px;
}

.comment-title {
    font-weight: bold;
    font-size: 14px;
}

.comment-list{
    margin-left: 5%;
}

.comment-list-wrapper{
    padding-left: 0;
}
@media (max-width: 760px) {
    .comment-list {
        margin-left: 1%;
    }
}