<header>
    <nav scrollHeight class="nav-bar">
        <a class="nav-logo" routerLink="top-stories"><p>Hacker News</p></a>
        <button id="menu-trigger" (click)="triggerMenu($event)" class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <ul id="nav-links" class="nav-links">
            <li><a class="nav-link"> new </a></li>
            <li><a class="nav-link"> comments </a></li>
            <li><a class="nav-link"> show </a></li>
            <li><a class="nav-link"> ask </a></li>
            <li><a class="nav-link"> jobs </a></li>
            <li><a class="nav-link"> submit </a></li>
        </ul>
    </nav>
</header>
<main class="main-container">
<router-outlet></router-outlet>
</main>
<footer>
        <p> &copy;Vladimir Racković, {{ today | date:'yyyy' }}</p>
</footer>
