.nav-bar,
.nav-bar-scroll-top {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FF6600;
    position: fixed;
    z-index: 9;
    padding-right: 10%;
}

.nav-bar-scroll {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6600;
    position: fixed;
    z-index: 9;
    padding-right: 10%; 
}
.nav-bar-scroll .nav-links {
    margin-bottom: 0;
}
.nav-logo {
    margin-left: 10%;
}
.nav-logo,
.nav-link {
    text-decoration: none;
    color: black;
}
.nav-links,
.nav-links-hidden {
    width: 50%;
    height: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 10%;
    z-index: 3;
}
.nav-link {
    color: white;
}
.nav-links li,
.nav-links-hidden li {
    height: 100%;
    width: 100%;
}
.nav-logo p {
    font-size: 24px;
    font-weight: bold;
}
.nav-link,
.nav-logo p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}
.nav-links :hover,
.nav-links-hidden :hover,
.nav-logo :hover {

    background-color: #fff;
    color: black;
}
.nav-logo-letter {
    color: white;
    margin-left: 5px;
}
.nav-logo-letter :hover {
    background-color: #fff;
}
.main-container {
    background-color: #F6F6EF;
    width: 80%;
    padding-top: 80px;
    margin: auto;
    padding-bottom: 20px;
    transition: 200ms ease-out;
}
footer {
    background-color: #F6F6EF;
    margin: auto;
    padding: 16px 0 16px 0;
    width: 80%;
    text-align: center;
    border-top: #FF6600 1px solid;
}
footer p {
    padding: 0;
    margin: 0;
}
#menu-trigger {
    display: none;
    background: #FF6600;
    border: none;
    outline: none;
    z-index: 1;
}

.hamburger .line{
    width: 40px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
}
.hamburger:hover{
    cursor: pointer;
}

#menu-trigger.is-active{
    transform: rotate(90deg);
}

#menu-trigger.is-active .line:nth-child(2){
    transition: none;
}

#menu-trigger .line:nth-child(2){
    transition-delay: 0.3s;
}


#menu-trigger.is-active .line:nth-child(2){
    opacity: 0;
}

#menu-trigger.is-active .line:nth-child(1),
#menu-trigger.is-active .line:nth-child(3){
    width: 35px;
    transform-origin: right;
}

#menu-trigger.is-active .line:nth-child(1){
    transform: translateY(15px) rotate(45deg);
}

#menu-trigger.is-active .line:nth-child(3){
    transform: translateY(-15px) rotate(-45deg);
}
@media (max-width: 800px) {
    .main-container {
        width: 100%;
        margin: 0;
    }
    .nav-logo {
        margin-left: 5%;
    }
    .nav-links,
    .nav-links-hidden {
        margin-right: 5%;
    }
    footer {
        width: 100%;
    }
    
}
@media (max-width: 760px) {
    .main-container {
        padding-top: 20px;
    }
    .nav-bar-scroll-top {
        flex-wrap: wrap;
        height: inherit;
        position: fixed;
        padding: 0;
    }
    .nav-bar {
        flex-wrap: wrap;
        height: inherit;
        position: relative;
        padding: 0;
    }
    .nav-bar li,
    .nav-bar-scroll-top li {
        width: 100%;
        border-left: 1px solid white;
    }

    .nav-bar li:last-of-type ,
    .nav-bar-scroll-top li:last-of-type {
        border-right: 1px solid white;
    }

    .nav-logo {
        margin: 10px auto 10px auto;
    }

    .nav-links,
    .nav-links-hidden {
        width: 100%;
    }
}
@media (max-width: 640px) {
    .nav-links, 
    .nav-links-hidden {
        padding-left: 0;
        margin-right: 0;
    }

    .nav-links li:first-child,
    .nav-links-hidden li:first-child {
        border-left: 0;
    }

    .nav-links li:last-child {
        border-right: none;
    }
}

@media (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .nav-links-hidden {
        flex-direction: column;
        margin-bottom: 0;
        width: 100%;
    }
    .nav-links-hidden li {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid white;
    }
    #menu-trigger {
        display: initial;
    }
    
}